{{ form.renderTag }}

{% if form.pages|length > 1 %}
    <nav class="Nav Nav--tabs">
        <ul class="Nav-list">
            {% for page in form.pages %}
                <li class="Nav-item">
                    <a class="Nav-link{{ form.currentPage.index == page.index ? " is-active" : " is-disabled" }}" href="javascript:;">
                        {{ page.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}

{% if not form.ajaxEnabled %}
    <div class="Alert Alert--{% if form.hasErrors %}danger{% elseif form.submittedSuccessfully %}success{% endif %} u-marginBmd">
        {% if form.hasErrors %}
            {{ 'components.form.errorMessage'|t }}
        {% elseif form.submittedSuccessfully %}
            {{ 'components.form.successMessage'|t }}
        {% endif %}
    </div>
{% endif %}

{% for row in form %}
    {% if row|length > 1 %}<div class="Grid Grid--withGutter {{ form.customAttributes.rowClass }}">{% endif %}
        {% for field in row %}
            {% set instructionClass = "Form-help" %}

            {% set columnClass = "Form-item" %}
            {% set columnClass = columnClass ~ form.customAttributes.columnClass %}
            {% if field.type == "submit" %}
                {% set columnClass = columnClass ~ " Form-item--action" %}
            {% else %}
                {% set columnClass = columnClass ~ (field.required ? " is-required") %}
            {% endif %}

            {% set errorMessage = null %}
            {% set errorClass = "Form-help--validation" %}
            {% if field.errors|length %}
                {% set columnClass = columnClass ~ " is-error" %}
                {% set errorMessage %}
                    <div class="Form-help--validation u-marginTxs">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endset %}
            {% endif %}

            {% set fieldClass = "Form-field Form-field--" %}
            {% if field.type in ["text", "email", "password", "number", "datetime", "regex", "phone", "website"] %}
                {% set fieldClass = fieldClass ~ 'input' %}
            {% elseif field.type in ["select", "dynamic_recipients"] %}
                {% set fieldClass = fieldClass ~ 'select' %}
            {% else %}
                {% set fieldClass = fieldClass ~ field.type %}
            {% endif %}
            {% set fieldId = "Form-field--" ~ field.handle ~ "-" ~ field.id ~ form.id %}

            {% set label %}
                <label class="Form-label"{% if not field.required %} data-optional="{{ 'components.fields.optional'|t }}"{% endif %} for="{{ fieldId }}">
                    {{- field.label -}}
                </label>
            {% endset %}

            {% if row|length > 1 %}<div class="Grid-cell u-size1of{{ row|length }} u-xs-sizeFull">{% endif %}
                <div class="{{ columnClass }}"{{ field.rulesHtmlData }}>
                    {% if field.type not in ["checkbox", "mailing_list", "html", "submit", "recaptcha"] %}
                        {{ label }}
                    {% endif %}

                    <div class="Form-controls">
                        {% include [
                            "_partials/components/form/#{field.type}",
                            "_partials/components/form/default"
                        ] %}
                    </div>

                    {{ field.renderInstructions({
                        instructionsClass: instructionClass,
                        instructionsBelowField: true
                    }) }}

                    {{ errorMessage }}
                </div>
            {% if row|length > 1 %}</div>{% endif %}
        {% endfor %}
    {% if row|length > 1 %}</div>{% endif %}
{% endfor %}

{{ form.renderClosingTag }}
